# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
env/
.venv/

# Django
*.log
db.sqlite3
db.sqlite3-journal
/staticfiles/
/mediafiles/

# Migrations
*/migrations/*.py
!*/migrations/__init__.py

# Distribution / packaging
*.egg-info/
dist/
build/
.eggs/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
